[user]
name = Parashuram
email = code@nparashuram.com
[alias]
lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
stat = status
[color]
status = true
[push]
default = simple
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=1,5 -R
	excludesfile = ~/.gitignore_global
[help]
autocorrect = 1
